# Environment configuration
.env
.venv/

# Python bytecode / cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Logs
*.log

# Files I don't care to track
PLAN.md
data/*.csv
